
<header id="header" class="invisible-margin">
	<div id="header-image"><a href="{{ site.url }}"><img src="{{ site.baseurl }}/images/pixel-heart.png" /></a></div>
  <nav class="header-menu" role="navigation">
      <h1 class="nav-item"><a href="{{ site.url }}">Kate Hollenbach</a><span class="work-title">{% if page.type == "work" %} / {{ page.title }}{% endif %}</span></h1>
      <div id="site-menu">
      <ul>
        {% if page.type == "work" %}<li class="nav-item col-3-block"><a href="{{ site.url }}">Work</a></li>{% endif %}
        <li class="nav-item col-3-block"><a href="{{ "/about" | prepend: site.baseurl }}">Info</a></li>
      </ul>
      </div>
  </nav>
</header>
